* { margin: 0; padding: 0; }
.debug .slide {
    border: 1px solid red;
}
body {
    background: white;
}

/*
Auto-format as much as possible. Use semantic, basic HTML
*/

/* This shall wrap all slides, and have them arranged horizontally so that we can slide from one to the next */
/* TBD: allow optional "stacks" where one can also scroll downwards to e.g. expand on certain ideas */

.presentation {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
    /* TBD: support having the .slides take all height if no header/footer, and otherwise give space */
    /* grid-template-rows: 1fr 10fr 1fr; */
}

header {
    position: fixed;
    font-style: italic;
    width: 100%;
    top: 0;
}

footer {
    position: fixed;
    width: 100%;
    font-style: italic;
    bottom: 0;
}

.p-1 {
    padding: 1%;
}

.p-2 {
    padding: 2%;
}

.p-5 {
    padding: 5%;
}

img {
    max-width: 100%;
}

.dim {
    /* filter: opacity(100%); */
    /* filter: hue-rotate(30deg) */
    /* mask: url("resources/qr-bapt2.svg"); */
}

.centered {
    text-align: center;
}

figcaption {
    font-size: .75em;
}
.slides {
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;

    /* snappy scroll */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slide {
    position: relative;
    scroll-snap-align: center;
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);
    flex-shrink: 0;
    padding: 1em;
    box-sizing: content-box;
}

.slide.stack {
    padding: 0!important;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    /* snappy scroll */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.stack .stack-slide {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    box-sizing: border-box;
}

.stack::before {
    content: "\\/";
    text-align: center;
    position: absolute;
    height: 2em;
    width: 4em;
    bottom: 0;
    right: 0;
    display: block;
}

/* slide layouts */
.layout-title {
    align-content: center;
}

.layout-title>* {
    align-content: center;
}

.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cols-2-weighted {
    display: grid;  
    grid-template-columns: 3fr 2fr;
}

/* typgraphy */
/*
TBD: use container queries to calc sizes? Thus allowing greater composability
*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: roboto;
}

.slides {
    font-size: calc(100vw / 32);
}

h1 {
    font-size: calc(100vw / 12);
    line-height: 1;
    margin-bottom: .4em;
    /* margin-left: -1em; hacketihack */
}

h2 {
    line-height: 1;
    margin-bottom: 1em;
}

.layout-title {
    h2 {
        margin-bottom: 0;
    }
}

.text-discrete {
    font-size: .75em;
}

span {
    white-space: nowrap;
}



ul {
    margin-left: 1.5em;
}
li {
    margin-top: .3em;
    margin-bottom: .3em;
}

.bg-image {
    /* background-image: attr(bg); */
    background-image: url("./resources/profit.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image h1 {
    background: rgba(255,255,255,0.8);
    padding: .5em 0;
}